:root {
	--main-bg-color: #9b5dce;
	--accent-color: #af7d2d;
	--wallet-bg-color: rgba(235,236, 244);
	--wallet-lightbg-color: rgba(249, 250, 255);
	
	--border-color: #b1b6d4;

	--text-color:  rgba(162, 168, 199);
	--text-size: 1.2em;
	--text-size-small: 0.9em;
	--text-size-big: 1.4em;
	--text-size-huge: 1.8em;

	--standart-border-radius: 5px;
	--standart-box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

button {
	margin: 5px;
}

html, body, #root, #root > div{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
	border: none;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--main-bg-color);
}

.App > #tall {
	height: 100%;
}

.main-bg {
	background-color: var(--wallet-bg-color);
}

#buttons > button{
	margin-bottom: 1em;
	margin-left: 0.2em;
}

#buttons > :last-child {
	margin-right: 1.25rem;
}

#FooterIcons {
	font-size: 2em;
}

#list-field {
	margin: 5px;
}

#margin-top {
	margin-top: 0.5em;
}

#big {
	margin: 1em;
}

#my-form {
	width: 100%;
}

#input {
	width: 75%;
}